* {
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
}

html {
    height: 100%;
    font-size: 12px;
    line-height: 1.5;
    overflow: hidden;
    /* Prevents rubber-band scrolling of the whole "page" */
    color: var(--color);
    background-color: #000000;
    /* To cover OSes with no default background color */
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    padding: 0;
    background-color: #000000;
}